[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

attrs = ">=17.3"
construct = ">=2.8.16"


[dev-packages]

"dle1cacu" = {path = ".", editable = true}
ipython = "*"
ipdb = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-asyncio = "*"
setuptools = ">=30.3"
pytest-cov = "*"
